*{margin: 0; padding: 0;}

/* layout */

dl{
    border: 5px solid black;
    width: 500px;
    height: 160px;
    display: flex; 
    justify-content: space-between;
    position: relative;
    align-items: flex-start;

}
dl>dt{
   border: 1px solid blue;
   height: 30px;
   padding: 0 20px;
   display: flex;
   
   align-items: center;
  
}

dl>dt.on{
    background-color: blue;
    color: #fff;
}

dl>dd{
    border: 1px solid gold;
    position: absolute;
    width: 100%;
    left: 0;
    top: 40px;
    /* opacity: 0%; */
    transition: all 0.5s ease 0s;
 /* transition은 중간 수치가 명확할 때만 전환스타일을 표시한다.(예.width:300px -> width:500px) */
height: 0;
overflow: hidden;
}
dl>dt.on+dd{
   display: block;
    /* opacity: 1; */
    height: auto;
}


/* dt태그에 on클래스가 추가가 되면 다음 형제 dd태그는 보이도록 설정이 된다.-> css는 html을 감시하고 있다가 태그의 조건이 변경이 되면 변경된 조건으로 스타일을 표현한다. */