/* 1.rest */
*{margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: normal;}
address,em,i{font-style: normal;}
strong,b{font-weight: normal;}
a{text-decoration: none;color: inherit;}
ol,ul{list-style: none;}

/* 2.common */
html{
    
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 3. layout - 크기, 배치 */

/* background */
.background{
    background: url(../img/bg_body.jpg) no-repeat;
    background-size: cover;
}

.containerTop{ }
.containerBot{
    color: #fff;
    background-color: #2a377e;
    height: 40vh;
}
.top{
    width: 1000px;
    margin: 0 auto;
}
.bottom{
    
    width: 1000px;
    margin: 0 auto;
}

/* .mainbanner figure{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
} */

/* 4. detail (글씨크기, 글씨색, 배경색, 마진, 패딩 등) */



/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    
}
.logo{
    
}
header>nav{
    display: flex;
    flex-direction: column;
    
}

nav>.lnb{
    
    display: flex;
    justify-content: flex-end;
    color: gray;
   font-size: 0.8rem;
   font-weight: 300;
   text-transform: uppercase;
   margin-top: 10px;
   margin-bottom: 2px;

}


nav>.lnb>li>img{
    padding: 0 10px;
}
nav>.lnb>li:last-of-type{border: none; }

nav>.gnb{
    
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;

}
nav>.gnb>li{
    
    padding: 10px 30px;

}

/* header _ main */

/* main>.mainbanner{
    display: flex;

} */

main>.mainbanner>h2{
    
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #b8c6fd,#000075);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    display: flex;
    align-content: center;

}

main>.mainbanner>dl{
    
    width: 400px;
    height: 160px;
    display: flex; 
    justify-content: flex-start;
    position: relative;
    align-items: flex-start;
}
main>.mainbanner>dl>dt{
    /* border: 1px solid blue; */
    margin-right: 10px;
    height: 30px;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.mainbanner>dl>dt:last-of-type{margin: 0;}


.mainbanner>dl>dt.on{
    border-bottom: 2px solid rgb(3, 3, 199);
    color: rgb(5, 5, 205);
}
.mainbanner>dl>dd.on{
    opacity: 100%;
}

.mainbanner>dl>dd{
   
    width: 100%;
    position: absolute;
    left: 0;
    top: 40px;
    opacity: 0%;
    display: flex;
    justify-content: space-between;
}

.mainbanner>dl>dd>ul>li>a{
    width: 100%;
    display: flex;
    justify-content:space-between;
    
}
.mainbanner>dl>dd>ul>li>a>span{
    margin-left: 110px;
   
}



/* Bottom */

.bottom{
    padding-top: 20px;
}
.bottom>.contents{
   
    display: flex;
    justify-content: flex-start;
}

.bottom>.contents>.left{
    width: 100px;
}

.bottom>.contents>.left>h3{
   
    font-size: 1.1rem;
    font-weight: 300;
    padding: 10px 0;
    
}
.bottom>.contents>.left>ol{
    list-style: number;
    margin-left: 20px;
}
.bottom>.contents>.left>li{margin-left: 10px;}


.contents>.middle>dl{
    width: 200px;
margin-top: 10px;
display: flex;
justify-content: flex-start;
position: relative;

}
.contents>.middle>dl>dt{
    background: rgb(1, 1, 79);
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
   padding: 0 10px;
   padding-bottom: 2px;
}


.contents>.middle>dl>dd{
    margin-top: 5px;
    opacity: 0%;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 20px;
}

.contents>.middle>dl>dt.on{
    
    background: rgb(156, 135, 250);
    color: #fff;
}
.contents>.middle>dl>dd.on{
    opacity: 100%;
}

.botoom>.contents>.right{
    width: 250px
}

.bottom>.contents>.right>h3{
    
    font-size: 1.1rem;
    font-weight: 300;
    padding: 10px 0;
    
}

footer{
    border-top: 0.75px solid #fff;
    margin-top: 20px;
   font-size: 0.5rem;
   font-weight: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer>section>#family{
    margin-right:10px;
}

select{
    border: 1px solid white;
    border-radius: 0;
    background-color: #2a377e;
    color: #fff;
    font-size: 3pt;
    width: 300px;
    padding: 5px;
    padding-left: 10px;

}