*{margin: 0; padding: 0;}
a{text-decoration: none ; color: inherit;}
ul,ol{list-style: none;}


.wrap{}
.wrap>section{
    border: 1px solid black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-transform: uppercase;
}
.btnMenu{
    border: 1px solid black;
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 5px 15px;
    cursor: pointer;
}
nav{
    /* border: 1px solid red; */
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: rgb(110, 243, 236);
    transform: translateX(-100%);
    transition: all 0.5s ease 0s;
}
nav.on{
    transform: translateX(0);
}



.gnb{
    /* border: 1px solid blue; */
}
.gnb ul{
    background: lightcyan;
}
.gnb>li{
    /* border: 1px solid pink; */
    height: 50px;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
.gnb>li>a{
    border-bottom: 2px solid black;
    height: 50px;
    box-sizing: border-box;
    align-items: center;
    /* border: 1px solid lightyellow; */
    display: flex;
    justify-content: space-between;
}
.depi{
    width: 15px;
    height: 15px;
    position: relative;
    transition: all 0.5s ease 0s;
}
.depi::before{
    content: '';
    background: #333;
    width: 15px;
    height: 2px;
    position: absolute;
    /*position absolute를 설정하면 암묵적으로 inline-block형태로 지정됨 */
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.depi::after{
    content: '';
    background: #333;
    width: 2px;
    height: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}
.gnb>li.on .depi::after{
    display: none;
}
.gnb ul>li{
    /* border: 1px solid lime; */
    height: 50px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}