*{margin: 0; padding: 0;}
a{text-decoration: none ; color: inherit;}
ul,ol{list-style: none;}


.wrap{}
.wrap>section{
    border: 1px solid black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-transform: uppercase;
}
.btnMenu{
    border: 1px solid black;
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 5px 15px;
    cursor: pointer;
}
nav{
    /* border: 1px solid red; */
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: rgb(110, 243, 236);
    transform: translateX(-100%);
    transition: all 0.5s ease 0s;
}
nav.on{
    transform: translateX(0);
}
.gnb{
    /* border: 1px solid blue; */
}
.gnb ul{
    background: lightcyan;
}
.gnb>li{
    border: 1px solid pink;
    height: 50px;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
.gnb>li>a{
    border-bottom: 2px solid black;
    display: flex;
    height: 50px;
    box-sizing: border-box;
    align-items: center;
}
.gnb ul>li{
    /* border: 1px solid lime; */
    height: 50px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}