table{
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 18px;
}
/* collapse: 무너지다  => 선과 선 사이에 공간이 없어짐. */
.bmiStyle{
    /* border: 1px solid red; */
    width: 800px;
}
.bmiStyle>caption{
    font-size: 2.5rem; 
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 10px;
}
.bmiStyle th{
    border: 1px solid #000;
    font-size: 1.2rem;
    font-weight: bold;
    border-left: none;
    padding: 5px 0;
    width: 300px;
}
.bmiStyle td{
    border: 1px solid #000;
    border-right: none;
    padding: 5px 0;
    width: 500px;
    text-align: center;
}

/* table을 만들 때 브라우저에서는 자동적으로 tbody태그가 만들어져 행들을 보관하고 있기 때문에 table태그 다음으로 tr이 속해 있는 것이 아니라 table>tbody>tr 순으로 속해있는 것이다. */
/* so, .gradeStyle>tbody>tr과 같음 */
.bmiStyle tr:last-of-type>th{
    background: #000;
    color: #fff;
    border-right: 1px solid #fff;
}
.bmiStyle tr:last-of-type>td{
    background: #000;
    color: #fff;
}
