/* 1.rest */
*{margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: normal;}
address,em,i{font-style: normal;}
strong,b{font-weight: normal;}
a{text-decoration: none;color: inherit;}
ul{list-style: none;}



/* 2.common - style */
html{
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
}


/* 3. layout - 크기, 배치 */

.container{
    width: 920px;
    margin: 0 auto;

}

footer{
    background-color: #efefef;
}
.fAll{
    width: 920px;
    margin: 0 auto;
}


/* 4. detail (글씨크기, 글씨색, 배경색, 마진, 패딩 등) */


/* header */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

header>nav{
    display: flex;
    flex-direction: column;
   
}


/* 먼저 메뉴 전체 설정을 한 다음에 li마다 설정을 해줘야 함 */
.lnb{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 4px;
}
.lnb>li{
    background-color: #000;
    color: #fff;
    font-size: 0.5rem;
    border-right: 1px solid #fefefe;
    padding: 2px 8px;

}
.lnb>li:last-of-type{
    border: none;
}

.gnb{
    display: flex;
}

.gnb>li{
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 8px;
}


/* main */

main>.banner{
    margin-bottom: 20px;
}
main>.contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.contents>section{
    width: calc((100% - 40px)/3);
}

.left>h2{
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
    padding-bottom: 3px;
}


.mid>h2{
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3px;

}
.mid>ul>li>a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.right>h2{
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
    padding-bottom: 3px;
}
.right>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main{
    margin-bottom: 50px;
}

/* footer */

footer>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fLogo{
    align-self: center;
}

.fInfo{padding: 10px;}
.fInfo>ul{
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}
.fInfo>ul>li{padding: 2px 4px;}
.fInfo>ul>li:first-of-type{padding: 0;}

.fInfo>address{
    padding-bottom: 4px;
    margin-bottom: 10px;
}

