*{margin: 0; padding: 0;}
ul,ol{list-style: none;}
a{color: inherit; text-decoration: none;}

.skill{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.skill>li{
    flex: 1;
    margin-right: 10px;
    
}
.skill>li:last-of-type{margin-right: 0;}

.skill >li h2{
    text-align: center;
    margin-bottom: 10px;
}
.skill >li p{
    text-align: center;
    margin-bottom: 10px;
}

.skill >li figure{
    position: relative;
    
}
svg{transform: rotate(-90deg);}
.per{
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.skill >li circle{
    fill: none;
    stroke: navy;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    
    transition: all 0.5s ease 0s;
}
/* .skill >li:hover circle{
    stroke-dashoffset: 10;
} */

.btn{
    border: 1px solid red;
    background-color: #eee;
    padding: 10px 20px;
    cursor: pointer;
}
.wrap{
    height: 2000px;
    background: blue;

}

.box{
    height: 1000px;
    background: green;
}